$primary: #fb4b4f;
$secondary: #808080;
$secondary2: #b6b3b3;
$tertiary: #3b3b45;
$main: #2aa4e6;
$whitesmoke: #f5f5f5;
$base: #ffffff;
$quartiary: #111;
$border: 1px solid black;
$pale: #ddd1d1;
$colorDarkTheme: #aaaaff;
$headerPhotoDark: #3c3c7391;
