body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.swal-modal.darkTheme {
  background-color: #3c3c73;
}

.swal-modal.darkTheme .swal-text,
.swal-modal.darkTheme .swal-title {
  color: white;
}

.swal-modal.darkTheme .swal-button {
  background-color: #f27474;
}
